In [181]:
import pandas as pd
import datetime as dt

In [182]:
df = pd.read_csv('nba_games.csv', index_col=0)
df

,mp,mp.1,fg,fga,fg%,3p,3pa,3p%,ft,fta,...,tov%_max_opp,usg%_max_opp,ortg_max_opp,drtg_max_opp,team_opp,total_opp,home_opp,season,date,won
0,240.0,240.0,37.0,84.0,0.440,17.0,32.0,0.531,13.0,23.0,...,20.5,63.2,175.0,113.0,MIL,127,1,2022,2021-10-19,False
1,240.0,240.0,48.0,105.0,0.457,17.0,45.0,0.378,14.0,18.0,...,100.0,46.8,178.0,133.0,BRK,104,0,2022,2021-10-19,True
2,240.0,240.0,41.0,93.0,0.441,14.0,39.0,0.359,25.0,30.0,...,42.9,32.2,209.0,115.0,LAL,114,1,2022,2021-10-19,True
3,240.0,240.0,45.0,95.0,0.474,15.0,42.0,0.357,9.0,19.0,...,42.5,100.0,174.0,108.0,GSW,121,0,2022,2021-10-19,False
4,240.0,240.0,42.0,90.0,0.467,17.0,47.0,0.362,21.0,24.0,...,23.5,33.8,179.0,120.0,CHO,123,1,2022,2021-10-20,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6221,240.0,240.0,40.0,94.0,0.426,12.0,45.0,0.267,9.0,12.0,...,34.7,28.0,213.0,108.0,BOS,134,0,2024,2023-12-31,False
6222,240.0,240.0,47.0,92.0,0.511,16.0,33.0,0.485,13.0,17.0,...,33.3,29.2,139.0,128.0,MEM,92,1,2024,2023-12-31,False
6223,240.0,240.0,30.0,82.0,0.366,12.0,40.0,0.300,20.0,28.0,...,100.0,32.9,234.0,96.0,SAC,123,0,2024,2023-12-31,True
6224,240.0,240.0,42.0,90.0,0.467,12.0,37.0,0.324,11.0,12.0,...,100.0,28.6,158.0,117.0,PHO,112,1,2024,2023-12-31,False
6225,240.0,240.0,44.0,88.0,0.500,8.0,27.0,0.296,16.0,19.0,...,40.0,31.7,177.0,121.0,ORL,107,0,2024,2023-12-31,True

In [183]:
df.season.unique()

array([2022, 2023, 2024], dtype=int64)

In [184]:
df = df.sort_values("date")

In [185]:
df = df.reset_index(drop=True)

In [186]:
df

,mp,mp.1,fg,fga,fg%,3p,3pa,3p%,ft,fta,...,tov%_max_opp,usg%_max_opp,ortg_max_opp,drtg_max_opp,team_opp,total_opp,home_opp,season,date,won
0,240.0,240.0,37.0,84.0,0.440,17.0,32.0,0.531,13.0,23.0,...,20.5,63.2,175.0,113.0,MIL,127,1,2022,2021-10-19,False
1,240.0,240.0,48.0,105.0,0.457,17.0,45.0,0.378,14.0,18.0,...,100.0,46.8,178.0,133.0,BRK,104,0,2022,2021-10-19,True
2,240.0,240.0,41.0,93.0,0.441,14.0,39.0,0.359,25.0,30.0,...,42.9,32.2,209.0,115.0,LAL,114,1,2022,2021-10-19,True
3,240.0,240.0,45.0,95.0,0.474,15.0,42.0,0.357,9.0,19.0,...,42.5,100.0,174.0,108.0,GSW,121,0,2022,2021-10-19,False
4,240.0,240.0,36.0,87.0,0.414,14.0,37.0,0.378,12.0,17.0,...,40.0,33.2,158.0,109.0,DEN,110,0,2022,2021-10-20,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6221,240.0,240.0,46.0,98.0,0.469,17.0,53.0,0.321,17.0,21.0,...,33.3,31.7,220.0,121.0,ATL,130,0,2024,2023-12-31,False
6222,240.0,240.0,47.0,95.0,0.495,12.0,32.0,0.375,24.0,37.0,...,60.0,41.2,186.0,128.0,WAS,126,1,2024,2023-12-31,True
6223,240.0,240.0,42.0,90.0,0.467,12.0,37.0,0.324,11.0,12.0,...,100.0,28.6,158.0,117.0,PHO,112,1,2024,2023-12-31,False
6224,240.0,240.0,38.0,100.0,0.380,12.0,46.0,0.261,20.0,31.0,...,100.0,30.7,300.0,119.0,OKC,124,1,2024,2023-12-31,False
6225,240.0,240.0,44.0,88.0,0.500,8.0,27.0,0.296,16.0,19.0,...,40.0,31.7,177.0,121.0,ORL,107,0,2024,2023-12-31,True

In [187]:
del df["mp.1"]
del df["mp_opp.1"]
del df["index_opp"]

In [188]:
df

,mp,fg,fga,fg%,3p,3pa,3p%,ft,fta,ft%,...,tov%_max_opp,usg%_max_opp,ortg_max_opp,drtg_max_opp,team_opp,total_opp,home_opp,season,date,won
0,240.0,37.0,84.0,0.440,17.0,32.0,0.531,13.0,23.0,0.565,...,20.5,63.2,175.0,113.0,MIL,127,1,2022,2021-10-19,False
1,240.0,48.0,105.0,0.457,17.0,45.0,0.378,14.0,18.0,0.778,...,100.0,46.8,178.0,133.0,BRK,104,0,2022,2021-10-19,True
2,240.0,41.0,93.0,0.441,14.0,39.0,0.359,25.0,30.0,0.833,...,42.9,32.2,209.0,115.0,LAL,114,1,2022,2021-10-19,True
3,240.0,45.0,95.0,0.474,15.0,42.0,0.357,9.0,19.0,0.474,...,42.5,100.0,174.0,108.0,GSW,121,0,2022,2021-10-19,False
4,240.0,36.0,87.0,0.414,14.0,37.0,0.378,12.0,17.0,0.706,...,40.0,33.2,158.0,109.0,DEN,110,0,2022,2021-10-20,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6221,240.0,46.0,98.0,0.469,17.0,53.0,0.321,17.0,21.0,0.810,...,33.3,31.7,220.0,121.0,ATL,130,0,2024,2023-12-31,False
6222,240.0,47.0,95.0,0.495,12.0,32.0,0.375,24.0,37.0,0.649,...,60.0,41.2,186.0,128.0,WAS,126,1,2024,2023-12-31,True
6223,240.0,42.0,90.0,0.467,12.0,37.0,0.324,11.0,12.0,0.917,...,100.0,28.6,158.0,117.0,PHO,112,1,2024,2023-12-31,False
6224,240.0,38.0,100.0,0.380,12.0,46.0,0.261,20.0,31.0,0.645,...,100.0,30.7,300.0,119.0,OKC,124,1,2024,2023-12-31,False
6225,240.0,44.0,88.0,0.500,8.0,27.0,0.296,16.0,19.0,0.842,...,40.0,31.7,177.0,121.0,ORL,107,0,2024,2023-12-31,True

In [189]:
# target indicates if the team lost their next game

def add_target(team):
    team ["target"] = team["won"].shift(-1)
    return team

df = df.groupby("team", group_keys=False).apply(add_target)

In [190]:
df["target"][pd.isnull(df["target"])]

6183    NaN
6184    NaN
6187    NaN
6188    NaN
6191    NaN
6192    NaN
6201    NaN
6202    NaN
6203    NaN
6204    NaN
6206    NaN
6207    NaN
6208    NaN
6209    NaN
6210    NaN
6211    NaN
6212    NaN
6213    NaN
6214    NaN
6215    NaN
6216    NaN
6217    NaN
6218    NaN
6219    NaN
6220    NaN
6221    NaN
6222    NaN
6223    NaN
6224    NaN
6225    NaN
Name: target, dtype: object

In [191]:
def true_false_conversion(x):
    if x == True:
        return 1
    elif x == False:
        return 0
    else:
        return 2
df["target"] = df["target"].apply(true_false_conversion)

In [192]:
df

,mp,fg,fga,fg%,3p,3pa,3p%,ft,fta,ft%,...,usg%_max_opp,ortg_max_opp,drtg_max_opp,team_opp,total_opp,home_opp,season,date,won,target
0,240.0,37.0,84.0,0.440,17.0,32.0,0.531,13.0,23.0,0.565,...,63.2,175.0,113.0,MIL,127,1,2022,2021-10-19,False,1
1,240.0,48.0,105.0,0.457,17.0,45.0,0.378,14.0,18.0,0.778,...,46.8,178.0,133.0,BRK,104,0,2022,2021-10-19,True,1
2,240.0,41.0,93.0,0.441,14.0,39.0,0.359,25.0,30.0,0.833,...,32.2,209.0,115.0,LAL,114,1,2022,2021-10-19,True,1
3,240.0,45.0,95.0,0.474,15.0,42.0,0.357,9.0,19.0,0.474,...,100.0,174.0,108.0,GSW,121,0,2022,2021-10-19,False,0
4,240.0,36.0,87.0,0.414,14.0,37.0,0.378,12.0,17.0,0.706,...,33.2,158.0,109.0,DEN,110,0,2022,2021-10-20,True,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6221,240.0,46.0,98.0,0.469,17.0,53.0,0.321,17.0,21.0,0.810,...,31.7,220.0,121.0,ATL,130,0,2024,2023-12-31,False,2
6222,240.0,47.0,95.0,0.495,12.0,32.0,0.375,24.0,37.0,0.649,...,41.2,186.0,128.0,WAS,126,1,2024,2023-12-31,True,2
6223,240.0,42.0,90.0,0.467,12.0,37.0,0.324,11.0,12.0,0.917,...,28.6,158.0,117.0,PHO,112,1,2024,2023-12-31,False,2
6224,240.0,38.0,100.0,0.380,12.0,46.0,0.261,20.0,31.0,0.645,...,30.7,300.0,119.0,OKC,124,1,2024,2023-12-31,False,2
6225,240.0,44.0,88.0,0.500,8.0,27.0,0.296,16.0,19.0,0.842,...,31.7,177.0,121.0,ORL,107,0,2024,2023-12-31,True,2

In [193]:
df["won"].value_counts()

False    3131
True     3095
Name: won, dtype: int64

In [194]:
df["target"].value_counts()

0    3114
1    3082
2      30
Name: target, dtype: int64

In [195]:
# Check how many columns have null values
nulls = pd.isnull(df)

In [196]:
nulls = nulls.sum()

In [197]:
nulls = nulls[nulls > 0]

In [198]:
# Delete previous cell columns
valid_columns = df.columns[~df.columns.isin(nulls.index)]

In [199]:
valid_columns

Index(['mp', 'fg', 'fga', 'fg%', '3p', '3pa', '3p%', 'ft', 'fta', 'ft%',
       ...
       'usg%_max_opp', 'ortg_max_opp', 'drtg_max_opp', 'team_opp', 'total_opp',
       'home_opp', 'season', 'date', 'won', 'target'],
      dtype='object', length=140)

In [200]:
df = df[valid_columns].copy()

In [201]:
# Feature Selection
from sklearn.model_selection import TimeSeriesSplit
from sklearn.feature_selection import SequentialFeatureSelector
from sklearn.linear_model import RidgeClassifier

rr = RidgeClassifier(alpha=1)
split = TimeSeriesSplit(n_splits=3)

sfs = SequentialFeatureSelector(rr, n_features_to_select=30, direction="forward", cv=split)

In [202]:
removed_columns= ["season", "date", "won", "target", "team", "team_opp"]

In [203]:
selected_columns = df.columns[~df.columns.isin(removed_columns)]

In [204]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
df[selected_columns] = scaler.fit_transform(df[selected_columns] )

In [205]:
sfs.fit(df[selected_columns], df["target"])

SequentialFeatureSelector(cv=TimeSeriesSplit(gap=0, max_train_size=None, n_splits=3, test_size=None),
                          estimator=RidgeClassifier(alpha=1),
                          n_features_to_select=30)

In [206]:
df

,mp,fg,fga,fg%,3p,3pa,3p%,ft,fta,ft%,...,usg%_max_opp,ortg_max_opp,drtg_max_opp,team_opp,total_opp,home_opp,season,date,won,target
0,0.0,0.333333,0.350877,0.397561,0.60,0.395833,0.812165,0.261905,0.395833,0.378571,...,0.528205,0.352332,0.355263,MIL,0.802548,1.0,2022,2021-10-19,False,1
1,0.0,0.595238,0.719298,0.439024,0.60,0.666667,0.538462,0.285714,0.291667,0.682857,...,0.317949,0.367876,0.618421,BRK,0.656051,0.0,2022,2021-10-19,True,1
2,0.0,0.428571,0.508772,0.400000,0.48,0.541667,0.504472,0.547619,0.541667,0.761429,...,0.130769,0.528497,0.381579,LAL,0.719745,1.0,2022,2021-10-19,True,1
3,0.0,0.523810,0.543860,0.480488,0.52,0.604167,0.500894,0.166667,0.312500,0.248571,...,1.000000,0.347150,0.289474,GSW,0.764331,0.0,2022,2021-10-19,False,0
4,0.0,0.309524,0.403509,0.334146,0.48,0.500000,0.538462,0.238095,0.270833,0.580000,...,0.143590,0.264249,0.302632,DEN,0.694268,0.0,2022,2021-10-20,True,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6221,0.0,0.547619,0.596491,0.468293,0.60,0.833333,0.436494,0.357143,0.354167,0.728571,...,0.124359,0.585492,0.460526,ATL,0.821656,0.0,2024,2023-12-31,False,2
6222,0.0,0.571429,0.543860,0.531707,0.40,0.395833,0.533095,0.523810,0.687500,0.498571,...,0.246154,0.409326,0.552632,WAS,0.796178,1.0,2024,2023-12-31,True,2
6223,0.0,0.452381,0.456140,0.463415,0.40,0.500000,0.441860,0.214286,0.166667,0.881429,...,0.084615,0.264249,0.407895,PHO,0.707006,1.0,2024,2023-12-31,False,2
6224,0.0,0.357143,0.631579,0.251220,0.40,0.687500,0.329159,0.428571,0.562500,0.492857,...,0.111538,1.000000,0.434211,OKC,0.783439,1.0,2024,2023-12-31,False,2
6225,0.0,0.500000,0.421053,0.543902,0.24,0.291667,0.391771,0.333333,0.312500,0.774286,...,0.124359,0.362694,0.460526,ORL,0.675159,0.0,2024,2023-12-31,True,2

In [207]:
predictors = list(selected_columns[sfs.get_support()])

In [208]:
predictors

['fg%',
 '3p%',
 'ft',
 'trb',
 'tov',
 'trb%',
 'tov%',
 'usg%',
 'fg_max',
 'fga_max',
 '3p_max',
 'drb_max',
 'stl_max',
 'tov_max',
 'trb%_max',
 'stl%_max',
 'fg_opp',
 'fg%_opp',
 'fta_opp',
 'trb_opp',
 'ast_opp',
 'ftr_opp',
 'trb%_opp',
 'ast%_opp',
 'usg%_opp',
 'ft%_max_opp',
 'pf_max_opp',
 'ftr_max_opp',
 'drb%_max_opp',
 'usg%_max_opp']

In [209]:
def backtest(data, model, predictors, start=1, step=1):
    all_predictions = []
    
    seasons = sorted(data["season"].unique())
    
    for i in range(start, len(seasons), step):
        season = seasons[i]
        
        train = data[data["season"] < season]
        test = data[data["season"] == season]
        
        model.fit(train[predictors], train["target"])
        
        preds = model.predict(test[predictors])
        preds = pd.Series(preds, index=test.index)
        
        combined = pd.concat([test["target"], preds], axis=1)
        combined.columns = ["actual", "prediction"]
        
        all_predictions.append(combined)
    return pd.concat(all_predictions)

In [210]:
predictions = backtest(df, rr, predictors)

In [211]:
predictions

      actual  prediction
2634       0           1
2635       1           1
2636       1           0
2637       0           0
2638       0           1
...      ...         ...
6221       2           0
6222       2           1
6223       2           0
6224       2           0
6225       2           1

[3592 rows x 2 columns]

In [212]:
from sklearn.metrics import accuracy_score

predictions = predictions[predictions["actual"] != 2]
accuracy_score(predictions["actual"], predictions["prediction"])

0.5308815272318922

In [213]:
df.groupby(["home"]).apply(lambda x: x[x["won"] == 1].shape[0] / x.shape[0])

home
0.0    0.479280
1.0    0.514937
dtype: float64

In [214]:
df_rolling = df[list(selected_columns) + ["won", "team", "season"]]

In [215]:
df_rolling

,mp,fg,fga,fg%,3p,3pa,3p%,ft,fta,ft%,...,blk%_max_opp,tov%_max_opp,usg%_max_opp,ortg_max_opp,drtg_max_opp,total_opp,home_opp,won,team,season
0,0.0,0.333333,0.350877,0.397561,0.60,0.395833,0.812165,0.261905,0.395833,0.378571,...,0.098,0.151547,0.528205,0.352332,0.355263,0.802548,1.0,False,BRK,2022
1,0.0,0.595238,0.719298,0.439024,0.60,0.666667,0.538462,0.285714,0.291667,0.682857,...,0.213,1.000000,0.317949,0.367876,0.618421,0.656051,0.0,True,MIL,2022
2,0.0,0.428571,0.508772,0.400000,0.48,0.541667,0.504472,0.547619,0.541667,0.761429,...,0.046,0.390608,0.130769,0.528497,0.381579,0.719745,1.0,True,GSW,2022
3,0.0,0.523810,0.543860,0.480488,0.52,0.604167,0.500894,0.166667,0.312500,0.248571,...,0.059,0.386339,1.000000,0.347150,0.289474,0.764331,0.0,False,LAL,2022
4,0.0,0.309524,0.403509,0.334146,0.48,0.500000,0.538462,0.238095,0.270833,0.580000,...,0.033,0.359658,0.143590,0.264249,0.302632,0.694268,0.0,True,PHO,2022
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6221,0.0,0.547619,0.596491,0.468293,0.60,0.833333,0.436494,0.357143,0.354167,0.728571,...,0.077,0.288154,0.124359,0.585492,0.460526,0.821656,0.0,False,WAS,2024
6222,0.0,0.571429,0.543860,0.531707,0.40,0.395833,0.533095,0.523810,0.687500,0.498571,...,0.108,0.573106,0.246154,0.409326,0.552632,0.796178,1.0,True,ATL,2024
6223,0.0,0.452381,0.456140,0.463415,0.40,0.500000,0.441860,0.214286,0.166667,0.881429,...,0.120,1.000000,0.084615,0.264249,0.407895,0.707006,1.0,False,ORL,2024
6224,0.0,0.357143,0.631579,0.251220,0.40,0.687500,0.329159,0.428571,0.562500,0.492857,...,0.137,1.000000,0.111538,1.000000,0.434211,0.783439,1.0,False,BRK,2024
6225,0.0,0.500000,0.421053,0.543902,0.24,0.291667,0.391771,0.333333,0.312500,0.774286,...,0.036,0.359658,0.124359,0.362694,0.460526,0.675159,0.0,True,PHO,2024

In [216]:
def find_team_averages(team):
    rolling = team.rolling(10).mean()
    return rolling

df_rolling = df_rolling.groupby(["team", "season"], group_keys=False).apply(find_team_averages)

C:\Users\User\AppData\Local\Temp\ipykernel_10356\4262171003.py:2: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['team'], dtype='object')
  rolling = team.rolling(10).mean()

In [217]:
df_rolling

,mp,fg,fga,fg%,3p,3pa,3p%,ft,fta,ft%,...,stl%_max_opp,blk%_max_opp,tov%_max_opp,usg%_max_opp,ortg_max_opp,drtg_max_opp,total_opp,home_opp,won,season
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6221,0.0,0.500000,0.457895,0.518293,0.492,0.533333,0.532021,0.352381,0.375000,0.627143,...,0.0542,0.0747,0.288794,0.163590,0.390674,0.477632,0.795541,0.4,0.3,2024.0
6222,0.0,0.514286,0.512281,0.492927,0.536,0.585417,0.538819,0.369048,0.379167,0.706571,...,0.0356,0.0872,0.336286,0.144103,0.416062,0.598684,0.773885,0.7,0.4,2024.0
6223,0.0,0.409524,0.407018,0.449756,0.300,0.381250,0.411628,0.411905,0.439583,0.677714,...,0.0506,0.0835,0.432764,0.143846,0.293782,0.453947,0.713376,0.6,0.5,2024.0
6224,0.0,0.430952,0.505263,0.410976,0.384,0.445833,0.472630,0.400000,0.458333,0.621714,...,0.0495,0.0882,0.379296,0.178718,0.564767,0.500000,0.771338,0.6,0.2,2024.0
6225,0.0,0.461905,0.392982,0.528049,0.340,0.364583,0.466369,0.450000,0.447917,0.741429,...,0.0647,0.0795,0.292956,0.153077,0.539378,0.539474,0.742038,0.3,0.5,2024.0

In [218]:
rolling_cols = [f"{col}_10" for col in df_rolling.columns]
df_rolling.columns = rolling_cols

df = pd.concat([df, df_rolling], axis=1)

In [219]:
df

,mp,fg,fga,fg%,3p,3pa,3p%,ft,fta,ft%,...,stl%_max_opp_10,blk%_max_opp_10,tov%_max_opp_10,usg%_max_opp_10,ortg_max_opp_10,drtg_max_opp_10,total_opp_10,home_opp_10,won_10,season_10
0,0.0,0.333333,0.350877,0.397561,0.60,0.395833,0.812165,0.261905,0.395833,0.378571,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0.0,0.595238,0.719298,0.439024,0.60,0.666667,0.538462,0.285714,0.291667,0.682857,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,0.0,0.428571,0.508772,0.400000,0.48,0.541667,0.504472,0.547619,0.541667,0.761429,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,0.0,0.523810,0.543860,0.480488,0.52,0.604167,0.500894,0.166667,0.312500,0.248571,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,0.0,0.309524,0.403509,0.334146,0.48,0.500000,0.538462,0.238095,0.270833,0.580000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6221,0.0,0.547619,0.596491,0.468293,0.60,0.833333,0.436494,0.357143,0.354167,0.728571,...,0.0542,0.0747,0.288794,0.163590,0.390674,0.477632,0.795541,0.4,0.3,2024.0
6222,0.0,0.571429,0.543860,0.531707,0.40,0.395833,0.533095,0.523810,0.687500,0.498571,...,0.0356,0.0872,0.336286,0.144103,0.416062,0.598684,0.773885,0.7,0.4,2024.0
6223,0.0,0.452381,0.456140,0.463415,0.40,0.500000,0.441860,0.214286,0.166667,0.881429,...,0.0506,0.0835,0.432764,0.143846,0.293782,0.453947,0.713376,0.6,0.5,2024.0
6224,0.0,0.357143,0.631579,0.251220,0.40,0.687500,0.329159,0.428571,0.562500,0.492857,...,0.0495,0.0882,0.379296,0.178718,0.564767,0.500000,0.771338,0.6,0.2,2024.0
6225,0.0,0.500000,0.421053,0.543902,0.24,0.291667,0.391771,0.333333,0.312500,0.774286,...,0.0647,0.0795,0.292956,0.153077,0.539378,0.539474,0.742038,0.3,0.5,2024.0

In [220]:
df = df.dropna()

In [221]:
df

,mp,fg,fga,fg%,3p,3pa,3p%,ft,fta,ft%,...,stl%_max_opp_10,blk%_max_opp_10,tov%_max_opp_10,usg%_max_opp_10,ortg_max_opp_10,drtg_max_opp_10,total_opp_10,home_opp_10,won_10,season_10
246,0.0,0.190476,0.421053,0.182927,0.36,0.645833,0.309481,0.238095,0.250000,0.642857,...,0.0643,0.1219,0.445037,0.158718,0.341969,0.347368,0.711465,0.6,0.4,2022.0
251,0.0,0.476190,0.491228,0.463415,0.36,0.458333,0.423971,0.261905,0.354167,0.455714,...,0.0738,0.1141,0.430736,0.149103,0.361658,0.452632,0.663694,0.6,0.7,2022.0
253,0.0,0.476190,0.421053,0.517073,0.48,0.604167,0.457961,0.095238,0.125000,0.428571,...,0.0642,0.0761,0.402668,0.125897,0.261658,0.419737,0.570064,0.5,0.2,2022.0
254,0.0,0.452381,0.614035,0.358537,0.40,0.291667,0.656530,0.071429,0.104167,0.365714,...,0.0447,0.1036,0.424973,0.183462,0.369948,0.446053,0.633121,0.4,0.6,2022.0
260,0.0,0.285714,0.438596,0.282927,0.40,0.583333,0.386404,0.119048,0.125000,0.571429,...,0.0884,0.1282,0.414088,0.163462,0.552850,0.360526,0.685350,0.6,0.5,2022.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6221,0.0,0.547619,0.596491,0.468293,0.60,0.833333,0.436494,0.357143,0.354167,0.728571,...,0.0542,0.0747,0.288794,0.163590,0.390674,0.477632,0.795541,0.4,0.3,2024.0
6222,0.0,0.571429,0.543860,0.531707,0.40,0.395833,0.533095,0.523810,0.687500,0.498571,...,0.0356,0.0872,0.336286,0.144103,0.416062,0.598684,0.773885,0.7,0.4,2024.0
6223,0.0,0.452381,0.456140,0.463415,0.40,0.500000,0.441860,0.214286,0.166667,0.881429,...,0.0506,0.0835,0.432764,0.143846,0.293782,0.453947,0.713376,0.6,0.5,2024.0
6224,0.0,0.357143,0.631579,0.251220,0.40,0.687500,0.329159,0.428571,0.562500,0.492857,...,0.0495,0.0882,0.379296,0.178718,0.564767,0.500000,0.771338,0.6,0.2,2024.0
6225,0.0,0.500000,0.421053,0.543902,0.24,0.291667,0.391771,0.333333,0.312500,0.774286,...,0.0647,0.0795,0.292956,0.153077,0.539378,0.539474,0.742038,0.3,0.5,2024.0

In [222]:
def shift_col(team, col_name):
    next_col = team[col_name].shift(-1)
    return next_col

def add_col(df, col_name):
    return df.groupby("team", group_keys=False).apply(lambda x: shift_col(x, col_name))

df["home_next"] = add_col(df, "home")
df["team_opp_next"] = add_col(df, "team_opp")
df["date_next"] = add_col(df, "date")

C:\Users\User\AppData\Local\Temp\ipykernel_10356\1688004556.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["home_next"] = add_col(df, "home")
C:\Users\User\AppData\Local\Temp\ipykernel_10356\1688004556.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["team_opp_next"] = add_col(df, "team_opp")
C:\Users\User\AppData\Local\Temp\ipykernel_10356\1688004556.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["date_next"] = add_col(df, "date")

In [223]:
df = df.copy()

In [224]:
df

,mp,fg,fga,fg%,3p,3pa,3p%,ft,fta,ft%,...,usg%_max_opp_10,ortg_max_opp_10,drtg_max_opp_10,total_opp_10,home_opp_10,won_10,season_10,home_next,team_opp_next,date_next
246,0.0,0.190476,0.421053,0.182927,0.36,0.645833,0.309481,0.238095,0.250000,0.642857,...,0.158718,0.341969,0.347368,0.711465,0.6,0.4,2022.0,0.0,DAL,2021-11-08
251,0.0,0.476190,0.491228,0.463415,0.36,0.458333,0.423971,0.261905,0.354167,0.455714,...,0.149103,0.361658,0.452632,0.663694,0.6,0.7,2022.0,0.0,LAC,2021-11-07
253,0.0,0.476190,0.421053,0.517073,0.48,0.604167,0.457961,0.095238,0.125000,0.428571,...,0.125897,0.261658,0.419737,0.570064,0.5,0.2,2022.0,0.0,SAC,2021-11-07
254,0.0,0.452381,0.614035,0.358537,0.40,0.291667,0.656530,0.071429,0.104167,0.365714,...,0.183462,0.369948,0.446053,0.633121,0.4,0.6,2022.0,1.0,BRK,2021-11-07
260,0.0,0.285714,0.438596,0.282927,0.40,0.583333,0.386404,0.119048,0.125000,0.571429,...,0.163462,0.552850,0.360526,0.685350,0.6,0.5,2022.0,1.0,UTA,2021-11-07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6221,0.0,0.547619,0.596491,0.468293,0.60,0.833333,0.436494,0.357143,0.354167,0.728571,...,0.163590,0.390674,0.477632,0.795541,0.4,0.3,2024.0,NaN,NaN,NaN
6222,0.0,0.571429,0.543860,0.531707,0.40,0.395833,0.533095,0.523810,0.687500,0.498571,...,0.144103,0.416062,0.598684,0.773885,0.7,0.4,2024.0,NaN,NaN,NaN
6223,0.0,0.452381,0.456140,0.463415,0.40,0.500000,0.441860,0.214286,0.166667,0.881429,...,0.143846,0.293782,0.453947,0.713376,0.6,0.5,2024.0,NaN,NaN,NaN
6224,0.0,0.357143,0.631579,0.251220,0.40,0.687500,0.329159,0.428571,0.562500,0.492857,...,0.178718,0.564767,0.500000,0.771338,0.6,0.2,2024.0,NaN,NaN,NaN
6225,0.0,0.500000,0.421053,0.543902,0.24,0.291667,0.391771,0.333333,0.312500,0.774286,...,0.153077,0.539378,0.539474,0.742038,0.3,0.5,2024.0,NaN,NaN,NaN

In [225]:
full = df.merge(
    df[rolling_cols + ["team_opp_next", "date_next", "team"]],
    left_on=["team", "date_next"],
    right_on=["team_opp_next", "date_next"]
)

In [226]:
full

,mp,fg,fga,fg%,3p,3pa,3p%,ft,fta,ft%,...,tov%_max_opp_10_y,usg%_max_opp_10_y,ortg_max_opp_10_y,drtg_max_opp_10_y,total_opp_10_y,home_opp_10_y,won_10_y,season_10_y,team_opp_next_y,team_y
0,0.0,0.190476,0.456140,0.163415,0.28,0.395833,0.364937,0.404762,0.416667,0.702857,...,0.443543,0.155769,0.407254,0.443421,0.662420,0.7,0.6,2022.0,LAL,CHO
1,0.0,0.452381,0.385965,0.514634,0.28,0.375000,0.381038,0.214286,0.250000,0.554286,...,0.412593,0.185769,0.409845,0.473684,0.644586,0.4,0.6,2022.0,BOS,TOR
2,0.0,0.476190,0.298246,0.619512,0.44,0.270833,0.756708,0.309524,0.312500,0.698571,...,0.247492,0.141282,0.486528,0.484211,0.621019,0.5,0.3,2022.0,PHI,NYK
3,0.0,0.428571,0.649123,0.314634,0.32,0.416667,0.404293,0.285714,0.291667,0.682857,...,0.356564,0.211154,0.469948,0.388158,0.629936,0.3,0.5,2022.0,CHO,LAL
4,0.0,0.428571,0.631579,0.324390,0.16,0.354167,0.220036,0.095238,0.104167,0.524286,...,0.333084,0.176667,0.354404,0.419737,0.682166,0.4,0.4,2022.0,SAS,SAC
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5347,0.0,0.547619,0.473684,0.556098,0.52,0.520833,0.568873,0.023810,0.062500,0.184286,...,0.303308,0.130256,0.410881,0.606579,0.775796,0.6,0.3,2024.0,WAS,ATL
5348,0.0,0.380952,0.473684,0.370732,0.28,0.312500,0.436494,0.357143,0.479167,0.471429,...,0.417823,0.145513,0.416062,0.586842,0.657962,0.3,0.6,2024.0,BRK,OKC
5349,0.0,0.404762,0.438596,0.419512,0.20,0.416667,0.241503,0.666667,0.750000,0.642857,...,0.276948,0.160000,0.534197,0.536842,0.746497,0.3,0.4,2024.0,ORL,PHO
5350,0.0,0.357143,0.385965,0.402439,0.16,0.354167,0.220036,0.571429,0.520833,0.852857,...,0.458805,0.199615,0.349741,0.568421,0.786624,0.7,0.4,2024.0,NYK,IND
5351,0.0,0.333333,0.421053,0.348780,0.20,0.229167,0.384615,0.547619,0.583333,0.687143,...,0.297652,0.163077,0.551813,0.519737,0.644586,0.5,0.7,2024.0,LAL,NOP

In [227]:
full[["team_x", "team_opp_next_x", "team_y", "team_opp_next_y", "date_next"]]

     team_x team_opp_next_x team_y team_opp_next_y   date_next
0       LAL             CHO    CHO             LAL  2021-11-08
1       BOS             TOR    TOR             BOS  2021-11-10
2       PHI             NYK    NYK             PHI  2021-11-08
3       CHO             LAL    LAL             CHO  2021-11-08
4       SAS             SAC    SAC             SAS  2021-11-10
...     ...             ...    ...             ...         ...
5347    WAS             ATL    ATL             WAS  2023-12-31
5348    BRK             OKC    OKC             BRK  2023-12-31
5349    ORL             PHO    PHO             ORL  2023-12-31
5350    NYK             IND    IND             NYK  2023-12-30
5351    LAL             NOP    NOP             LAL  2023-12-31

[5352 rows x 5 columns]

In [228]:
removed_columns = list(full.columns[full.dtypes=="object"]) + removed_columns

In [229]:
removed_columns

['team_x',
 'team_opp',
 'date',
 'team_opp_next_x',
 'date_next',
 'team_opp_next_y',
 'team_y',
 'season',
 'date',
 'won',
 'target',
 'team',
 'team_opp']

In [230]:
selected_columns = full.columns[~full.columns.isin(removed_columns)]

In [231]:
sfs.fit(full[selected_columns], full["target"])

SequentialFeatureSelector(cv=TimeSeriesSplit(gap=0, max_train_size=None, n_splits=3, test_size=None),
                          estimator=RidgeClassifier(alpha=1),
                          n_features_to_select=30)

In [232]:
predictors = list(selected_columns[sfs.get_support()])

In [233]:
predictors

['usg%',
 'fga_max',
 '3p_max',
 'ft%_max',
 'tov_max',
 'usg%_opp',
 'drb%_max_opp',
 'fg%_10_x',
 'efg%_10_x',
 'ast%_10_x',
 'usg%_10_x',
 'fg_max_10_x',
 'orb_max_10_x',
 'ts%_max_10_x',
 'ftr_max_10_x',
 'ts%_opp_10_x',
 'efg%_opp_10_x',
 'usg%_opp_10_x',
 'orb%_max_opp_10_x',
 'stl%_max_opp_10_x',
 'usg%_10_y',
 'fg_max_10_y',
 'ft%_max_10_y',
 'ts%_max_10_y',
 'tov%_max_10_y',
 'usg%_opp_10_y',
 'orb%_max_opp_10_y',
 'drb%_max_opp_10_y',
 'stl%_max_opp_10_y',
 'tov%_max_opp_10_y']

In [234]:
predictions = backtest(full, rr, predictors)

In [235]:
accuracy_score(predictions["actual"], predictions["prediction"])

0.5318936877076412