In [3]:
import pandas as pd

In [4]:
df = pd.read_csv('nba_games.csv', index_col=0)
df

,mp,mp.1,fg,fga,fg%,3p,3pa,3p%,ft,fta,...,tov%_max_opp,usg%_max_opp,ortg_max_opp,drtg_max_opp,team_opp,total_opp,home_opp,season,date,won
0,265.0,265.0,43.0,102.0,0.422,19.0,45.0,0.422,17.0,20.0,...,22.2,35.7,158.0,114.0,TOR,13,1,2020,2019-10-22,True
1,265.0,265.0,42.0,103.0,0.408,14.0,40.0,0.350,32.0,38.0,...,25.0,37.7,146.0,124.0,NOP,5,0,2020,2019-10-22,False
2,240.0,240.0,37.0,85.0,0.435,13.0,33.0,0.394,15.0,21.0,...,22.2,42.4,203.0,116.0,LAC,112,1,2020,2019-10-22,False
3,240.0,240.0,42.0,81.0,0.519,11.0,31.0,0.355,17.0,24.0,...,25.0,35.8,300.0,125.0,LAL,102,0,2020,2019-10-22,True
4,240.0,240.0,49.0,105.0,0.467,9.0,30.0,0.300,18.0,22.0,...,100.0,32.6,208.0,128.0,CHO,126,1,2020,2019-10-23,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
655,240.0,240.0,38.0,87.0,0.437,11.0,40.0,0.275,23.0,29.0,...,20.0,33.6,153.0,120.0,DET,108,0,2023,2022-10-31,True
656,240.0,240.0,38.0,92.0,0.413,6.0,26.0,0.231,23.0,42.0,...,50.0,31.9,176.0,110.0,UTA,121,1,2023,2022-10-31,False
657,240.0,240.0,42.0,89.0,0.472,19.0,47.0,0.404,18.0,22.0,...,47.4,47.8,144.0,127.0,MEM,105,0,2023,2022-10-31,True
658,240.0,240.0,34.0,88.0,0.386,8.0,28.0,0.286,17.0,23.0,...,40.0,34.6,142.0,103.0,LAC,95,1,2023,2022-10-31,False
659,240.0,240.0,37.0,87.0,0.425,9.0,36.0,0.250,12.0,17.0,...,33.3,32.4,224.0,107.0,HOU,93,0,2023,2022-10-31,True

In [22]:
df[df['date'] == '2020-10-22']

Empty DataFrame
Columns: [mp, mp.1, fg, fga, fg%, 3p, 3pa, 3p%, ft, fta, ft%, orb, drb, trb, ast, stl, blk, tov, pf, pts, +/-, ts%, efg%, 3par, ftr, orb%, drb%, trb%, ast%, stl%, blk%, tov%, usg%, ortg, drtg, mp_max, mp_max.1, fg_max, fga_max, fg%_max, 3p_max, 3pa_max, 3p%_max, ft_max, fta_max, ft%_max, orb_max, drb_max, trb_max, ast_max, stl_max, blk_max, tov_max, pf_max, pts_max, +/-_max, ts%_max, efg%_max, 3par_max, ftr_max, orb%_max, drb%_max, trb%_max, ast%_max, stl%_max, blk%_max, tov%_max, usg%_max, ortg_max, drtg_max, team, total, home, index_opp, mp_opp, mp_opp.1, fg_opp, fga_opp, fg%_opp, 3p_opp, 3pa_opp, 3p%_opp, ft_opp, fta_opp, ft%_opp, orb_opp, drb_opp, trb_opp, ast_opp, stl_opp, blk_opp, tov_opp, pf_opp, pts_opp, +/-_opp, ts%_opp, efg%_opp, 3par_opp, ftr_opp, orb%_opp, ...]
Index: []

[0 rows x 150 columns]

In [142]:
df = df.sort_values("date")

In [143]:
df = df.reset_index(drop=True)

In [144]:
df

,mp,mp.1,fg,fga,fg%,3p,3pa,3p%,ft,fta,...,tov%_max_opp,usg%_max_opp,ortg_max_opp,drtg_max_opp,team_opp,total_opp,home_opp,season,date,won
0,240.0,240.0,37.0,99.0,0.374,10.0,33.0,0.303,15.0,23.0,...,43.6,40.4,300.0,98.0,BRK,125,1,2021,2020-12-22,True
1,240.0,240.0,42.0,92.0,0.457,15.0,35.0,0.429,26.0,32.0,...,50.0,32.1,267.0,120.0,GSW,99,0,2021,2020-12-22,False
2,240.0,240.0,44.0,93.0,0.473,14.0,40.0,0.350,14.0,19.0,...,100.0,35.9,166.0,118.0,LAL,109,1,2021,2020-12-22,True
3,240.0,240.0,38.0,81.0,0.469,9.0,29.0,0.310,24.0,31.0,...,20.9,40.2,154.0,114.0,LAC,116,0,2021,2020-12-22,False
4,240.0,240.0,38.0,79.0,0.481,11.0,30.0,0.367,19.0,27.0,...,100.0,40.1,206.0,111.0,DAL,102,0,2021,2020-12-23,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
129,240.0,240.0,50.0,92.0,0.543,14.0,36.0,0.389,19.0,25.0,...,100.0,32.9,185.0,133.0,WAS,130,1,2021,2020-12-31,True
130,240.0,240.0,42.0,87.0,0.483,16.0,35.0,0.457,19.0,24.0,...,50.0,46.6,187.0,128.0,CLE,99,0,2021,2020-12-31,False
131,240.0,240.0,37.0,82.0,0.451,12.0,23.0,0.522,13.0,24.0,...,40.0,38.7,300.0,111.0,IND,119,1,2021,2020-12-31,True
132,240.0,240.0,33.0,95.0,0.347,7.0,28.0,0.250,19.0,21.0,...,50.0,28.8,150.0,98.0,PHI,116,0,2021,2020-12-31,True
133,240.0,240.0,35.0,84.0,0.417,12.0,34.0,0.353,13.0,19.0,...,23.0,34.3,182.0,110.0,PHO,106,0,2021,2020-12-31,True

In [145]:
del df["mp.1"]
del df["mp_opp.1"]
del df["index_opp"]

In [146]:
df

,mp,fg,fga,fg%,3p,3pa,3p%,ft,fta,ft%,...,tov%_max_opp,usg%_max_opp,ortg_max_opp,drtg_max_opp,team_opp,total_opp,home_opp,season,date,won
0,240.0,37.0,99.0,0.374,10.0,33.0,0.303,15.0,23.0,0.652,...,43.6,40.4,300.0,98.0,BRK,125,1,2021,2020-12-22,True
1,240.0,42.0,92.0,0.457,15.0,35.0,0.429,26.0,32.0,0.813,...,50.0,32.1,267.0,120.0,GSW,99,0,2021,2020-12-22,False
2,240.0,44.0,93.0,0.473,14.0,40.0,0.350,14.0,19.0,0.737,...,100.0,35.9,166.0,118.0,LAL,109,1,2021,2020-12-22,True
3,240.0,38.0,81.0,0.469,9.0,29.0,0.310,24.0,31.0,0.774,...,20.9,40.2,154.0,114.0,LAC,116,0,2021,2020-12-22,False
4,240.0,38.0,79.0,0.481,11.0,30.0,0.367,19.0,27.0,0.704,...,100.0,40.1,206.0,111.0,DAL,102,0,2021,2020-12-23,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
129,240.0,50.0,92.0,0.543,14.0,36.0,0.389,19.0,25.0,0.760,...,100.0,32.9,185.0,133.0,WAS,130,1,2021,2020-12-31,True
130,240.0,42.0,87.0,0.483,16.0,35.0,0.457,19.0,24.0,0.792,...,50.0,46.6,187.0,128.0,CLE,99,0,2021,2020-12-31,False
131,240.0,37.0,82.0,0.451,12.0,23.0,0.522,13.0,24.0,0.542,...,40.0,38.7,300.0,111.0,IND,119,1,2021,2020-12-31,True
132,240.0,33.0,95.0,0.347,7.0,28.0,0.250,19.0,21.0,0.905,...,50.0,28.8,150.0,98.0,PHI,116,0,2021,2020-12-31,True
133,240.0,35.0,84.0,0.417,12.0,34.0,0.353,13.0,19.0,0.684,...,23.0,34.3,182.0,110.0,PHO,106,0,2021,2020-12-31,True

In [147]:
# target indicates if the team lost their next game

def add_target(team):
    team ["target"] = team["won"].shift(-1)
    return team

df = df.groupby("team", group_keys=False).apply(add_target)

In [148]:
df[df["team"] == "BOS"]

,mp,fg,fga,fg%,3p,3pa,3p%,ft,fta,ft%,...,usg%_max_opp,ortg_max_opp,drtg_max_opp,team_opp,total_opp,home_opp,season,date,won,target
16,240.0,48.0,101.0,0.475,18.0,40.0,0.450,8.0,11.0,0.727,...,42.3,187.0,130.0,MIL,121,0,2021,2020-12-23,True,True
32,240.0,37.0,98.0,0.378,8.0,27.0,0.296,13.0,19.0,0.684,...,37.1,300.0,112.0,BRK,123,0,2021,2020-12-25,True,False
58,240.0,40.0,79.0,0.506,9.0,23.0,0.391,18.0,24.0,0.750,...,30.9,144.0,112.0,IND,108,1,2021,2020-12-27,False,True
103,240.0,40.0,80.0,0.500,9.0,22.0,0.409,27.0,37.0,0.730,...,27.7,170.0,126.0,IND,111,1,2021,2020-12-29,True,True
119,240.0,49.0,91.0,0.538,16.0,39.0,0.410,12.0,14.0,0.857,...,30.1,163.0,127.0,MEM,107,0,2021,2020-12-30,True,NaN

In [149]:
df["target"][pd.isnull(df["target"])]

93     NaN
96     NaN
104    NaN
105    NaN
108    NaN
109    NaN
110    NaN
111    NaN
112    NaN
113    NaN
114    NaN
115    NaN
116    NaN
117    NaN
118    NaN
119    NaN
120    NaN
121    NaN
122    NaN
123    NaN
124    NaN
125    NaN
126    NaN
127    NaN
128    NaN
129    NaN
130    NaN
131    NaN
132    NaN
133    NaN
Name: target, dtype: object

In [150]:
def true_false_conversion(x):
    if x == True:
        return 1
    elif x == False:
        return 0
    else:
        return 2
df["target"] = df["target"].apply(true_false_conversion)

In [155]:
df

,mp,fg,fga,fg%,3p,3pa,3p%,ft,fta,ft%,...,usg%_max_opp,ortg_max_opp,drtg_max_opp,team_opp,total_opp,home_opp,season,date,won,target
0,240.0,37.0,99.0,0.374,10.0,33.0,0.303,15.0,23.0,0.652,...,40.4,300.0,98.0,BRK,125,1,2021,2020-12-22,True,1
1,240.0,42.0,92.0,0.457,15.0,35.0,0.429,26.0,32.0,0.813,...,32.1,267.0,120.0,GSW,99,0,2021,2020-12-22,False,0
2,240.0,44.0,93.0,0.473,14.0,40.0,0.350,14.0,19.0,0.737,...,35.9,166.0,118.0,LAL,109,1,2021,2020-12-22,True,1
3,240.0,38.0,81.0,0.469,9.0,29.0,0.310,24.0,31.0,0.774,...,40.2,154.0,114.0,LAC,116,0,2021,2020-12-22,False,1
4,240.0,38.0,79.0,0.481,11.0,30.0,0.367,19.0,27.0,0.704,...,40.1,206.0,111.0,DAL,102,0,2021,2020-12-23,True,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
129,240.0,50.0,92.0,0.543,14.0,36.0,0.389,19.0,25.0,0.760,...,32.9,185.0,133.0,WAS,130,1,2021,2020-12-31,True,2
130,240.0,42.0,87.0,0.483,16.0,35.0,0.457,19.0,24.0,0.792,...,46.6,187.0,128.0,CLE,99,0,2021,2020-12-31,False,2
131,240.0,37.0,82.0,0.451,12.0,23.0,0.522,13.0,24.0,0.542,...,38.7,300.0,111.0,IND,119,1,2021,2020-12-31,True,2
132,240.0,33.0,95.0,0.347,7.0,28.0,0.250,19.0,21.0,0.905,...,28.8,150.0,98.0,PHI,116,0,2021,2020-12-31,True,2
133,240.0,35.0,84.0,0.417,12.0,34.0,0.353,13.0,19.0,0.684,...,34.3,182.0,110.0,PHO,106,0,2021,2020-12-31,True,2

In [156]:
df["won"].value_counts()

False    68
True     66
Name: won, dtype: int64

In [157]:
df["target"].value_counts()

0    53
1    51
2    30
Name: target, dtype: int64

In [159]:
# Check how many columns have null values
nulls = pd.isnull(df)

In [162]:
nulls = nulls.sum()

In [183]:
nulls = nulls[nulls > 0]

In [184]:
# Delete previous cell columns
valid_columns = df.columns[~df.columns.isin(nulls.index)]

In [185]:
valid_columns

Index(['mp', 'fg', 'fga', 'fg%', '3p', '3pa', '3p%', 'ft', 'fta', 'ft%',
       ...
       'usg%_max_opp', 'ortg_max_opp', 'drtg_max_opp', 'team_opp', 'total_opp',
       'home_opp', 'season', 'date', 'won', 'target'],
      dtype='object', length=142)

In [186]:
df = df[valid_columns].copy()

In [187]:
df

,mp,fg,fga,fg%,3p,3pa,3p%,ft,fta,ft%,...,usg%_max_opp,ortg_max_opp,drtg_max_opp,team_opp,total_opp,home_opp,season,date,won,target
0,240.0,37.0,99.0,0.374,10.0,33.0,0.303,15.0,23.0,0.652,...,40.4,300.0,98.0,BRK,125,1,2021,2020-12-22,True,1
1,240.0,42.0,92.0,0.457,15.0,35.0,0.429,26.0,32.0,0.813,...,32.1,267.0,120.0,GSW,99,0,2021,2020-12-22,False,0
2,240.0,44.0,93.0,0.473,14.0,40.0,0.350,14.0,19.0,0.737,...,35.9,166.0,118.0,LAL,109,1,2021,2020-12-22,True,1
3,240.0,38.0,81.0,0.469,9.0,29.0,0.310,24.0,31.0,0.774,...,40.2,154.0,114.0,LAC,116,0,2021,2020-12-22,False,1
4,240.0,38.0,79.0,0.481,11.0,30.0,0.367,19.0,27.0,0.704,...,40.1,206.0,111.0,DAL,102,0,2021,2020-12-23,True,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
129,240.0,50.0,92.0,0.543,14.0,36.0,0.389,19.0,25.0,0.760,...,32.9,185.0,133.0,WAS,130,1,2021,2020-12-31,True,2
130,240.0,42.0,87.0,0.483,16.0,35.0,0.457,19.0,24.0,0.792,...,46.6,187.0,128.0,CLE,99,0,2021,2020-12-31,False,2
131,240.0,37.0,82.0,0.451,12.0,23.0,0.522,13.0,24.0,0.542,...,38.7,300.0,111.0,IND,119,1,2021,2020-12-31,True,2
132,240.0,33.0,95.0,0.347,7.0,28.0,0.250,19.0,21.0,0.905,...,28.8,150.0,98.0,PHI,116,0,2021,2020-12-31,True,2
133,240.0,35.0,84.0,0.417,12.0,34.0,0.353,13.0,19.0,0.684,...,34.3,182.0,110.0,PHO,106,0,2021,2020-12-31,True,2

In [197]:
# Feature Selection
from sklearn.model_selection import TimeSeriesSplit
from sklearn.feature_selection import SequentialFeatureSelector
from sklearn.linear_model import RidgeClassifier

rr = RidgeClassifier(alpha=1)
split = TimeSeriesSplit(n_splits=3)

sfs = SequentialFeatureSelector(rr, n_features_to_select=30, direction="forward", cv=split)

In [198]:
removed_columns= ["season", "date", "won", "target", "team", "team_opp"]

In [199]:
selected_columns = df.columns[~df.columns.isin(removed_columns)]

In [200]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
df[selected_columns] = scaler.fit_transform(df[selected_columns] )

In [202]:
sfs.fit(df[selected_columns], df["target"])

SequentialFeatureSelector(cv=TimeSeriesSplit(gap=0, max_train_size=None, n_splits=3, test_size=None),
                          estimator=RidgeClassifier(alpha=1),
                          n_features_to_select=30)

In [203]:
predictors = list(selected_columns[sfs.get_support()])

In [204]:
predictors

['mp',
 'fga',
 '3p',
 '3p%',
 'ast',
 'tov',
 'pts',
 'efg%',
 'tov%',
 'usg%',
 'ortg',
 'drtg',
 '3p_max',
 'ft%_max',
 '+/-_max',
 'ftr_max',
 'stl%_max',
 'ortg_max',
 'drtg_max',
 'total',
 'mp_opp',
 'fga_opp',
 '3p_opp',
 '3p%_opp',
 'pf_opp',
 'usg%_opp',
 'fta_max_opp',
 'ast_max_opp',
 'drb%_max_opp',
 'trb%_max_opp']

In [213]:
def backtest(data, model, predictors, start=2, step=1):
    all_predictions = []
    
    seasons = sorted(data["season"].unique())
    
    for i in range(start, len(seasons), step):
        season = season[i]
        
        # All data used to predict current season
        train = data[data["season"] < season]
        
        # Used to generate predictions
        test = data[data["season"] == season]
        
        # Fit model
        model.fit(train[predictors], train["target"])
        
        preds = model.predict(test[predictors])
        preds = pd.Series(preds, index=test.index)
        
        combined = pd.concat([test["target"], preds], axis=1)
        combined.columns = ["actual", "predictions"]
        
        all_predictions.append(combined)
    return pd.concat(all_predictions)

In [214]:
predictions = backtest(df, rr, predictors)

ValueError: No objects to concatenate